#parallax_one {
background-image: url('../img/pexels-lake.jpg');
background-position: top center;  
}

#parallax_two {
background-image: url('../img/pexels-SF.jpg');
background-position: top center;  
}


#parallax_three {
background-image: url('../img/pexels-venice.jpg');
background-position: top center;  
}

#parallax_four {
background-image: url('../img/pexels-beach.jpg');
background-position: top center;
}


.parallax_effect {
height: 700px;
background-repeat: no-repeat;
background-size: cover; 
/* moved background position to an ID */
/* background-attatchment is what makes it parallax */
background-attachment: fixed;

/* background-position: center; */


}


.parallax_wrapper {
    background-color: rgba(0, 0, 0, 0.486);
    width: 800px;
    height: 360px;
    border-radius: 25px;
    margin: 6rem auto;
    text-align: center;
    color: white;
}

.dropdown {
position: center;
}